body{
  font-family: Google Sans,arial,sans-serif-medium,sans-serif;

}
.logo1{
  size: 1rem;
  height: 2rem;
  margin-top: 2rem;
}
.first_section{
  margin-left: 5rem;
}
.second_section{
  margin-left: 5rem;
}
.third_section{
  display: flex;
  border: 100%;
  background-color: aliceblue;
  margin-left: 5rem;
  margin-right: 3rem;
}
.fourth_section{
  margin-left: 5rem;
}
.form{
  border-radius: 8rem;
  width: 30rem;
  margin-left: 2rem;
  padding-top: 1.5rem;
}
.A{
  background-color: blueviolet;
  color: white;
  border-radius: 100%;
  width: 2rem;
  height: 1.9rem;
  border-style: none;
  font-size: larger;
  font-weight: 400;
}
.tools{
  display: flex;
}
.tools p{
  padding-right: 3rem;
}
.about1{
    color: rgb(123, 123, 123);
    line-height: 43px;
    font-size: 0.9rem;
    margin-top: 0.2rem;
}
.lionel{
  display: flex;
}
.button{
  margin-top: 1.4rem;
  margin-left: 3rem;
}
.button button{
  border-radius: 5rem;
  border-style: none;
  background-color: rgb(194, 219, 255);
  color: rgb(57, 57, 156);
  border-width: 0.1rem;
  cursor: pointer;
  padding: 12px 20px;
}
.img1{
  width: 18rem;
  height: 17rem;
  padding-right: 0.2rem;
  border-radius: 1rem 0 0 1rem;
  
  margin-top: 0.36rem;
}
#img2{
  margin-bottom: 1rem;
  margin-top: 0.2rem;
  
}
#img2 img{
  display: block;
  border-radius: 0 1rem 1rem 0;
  width: 17rem;
  height: 8.5rem;
  padding: 0.1rem 0;
  margin-right: 1rem;
}
.height{
  display: flex;
  font-size: 14px;
}
.age{
  background-color: rgb(182, 212, 246);
  border-radius: 1rem;
  width: 7rem;
  text-align: center;
  padding: 0.4rem 0.4rem;
  margin-right: 0.5rem;
  height: 8.2rem;
}
.m{
  font-size: 17px;
  padding-top: 5.3rem;
}
.yr{
  font-size: 14px;
  padding-top: 4.3rem;
}
.flex{
  display: flex;
  margin-top: 2rem;
}
.stories{
  display: flex;
}
.top{
  display: flex;
  margin-right: 2rem;
}
.mirror{
  width: 14rem;
  height: 5rem;
}
.line{
  display: flex;
}
.about{
  padding-left: 2rem;
  padding-right: 5rem;
  /* width: 40rem; */
}
.claim{
  display: flex;
}
.claim button{
  background-color: white;
}
.socials{
  display: flex;
}
.midvertical {
  border-left: 0.3px solid rgb(114, 113, 113);
  height: 225px;
  position:absolute;
  left: 33.5%;
}
.line a{
  padding-left: 0.3rem;
  font-size: 12px;
}
.block{
  display: block;
  margin-left: 5rem;
}
.wiki{
  line-height: 1.2;
  /* width: 53%; */
}
.wiki h3{
  color: #1a0dab;
}
.limg{
  display: flex;
}
.limg img{
  margin-right: 0.2rem;
  height: 5.5rem;
  width: 6.3rem;
  border-radius: 0.5rem;
}
.see{
  width: 70%;
  height: 2.5rem;
  align-items: center;
  border-radius: 1.5rem;
  margin: 0 0 2rem 5rem;
  border-style: none;
}
.soccer{
  display: flex;
}
.soccer img{
  margin-right: 1rem;
}
.line1{
  display: flex;
}
.line1 a{
  font-size: 12px;
  color: rgb(108, 107, 107);
  padding-left: 1rem;
}
.quest{
  display: flex;
}
.quest button{
  width: 40%;
  height: 2.9rem;
  border-radius: 1.5rem;
  border-style: none;
  margin-right: 1rem;
  font-size: 15px;
  margin-top: 1rem;

}
.googlelogo{
  align-items: center;
  margin-left: 11rem;
  margin-top: 3rem;
  height: 3rem;
  width: 7rem;
}
.number{
  margin-left: 11rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.number a{
  padding-right: 0.7rem;
}
.next{
  padding-left: 3rem;
}
.footer{
  background-color: rgb(241, 240, 240);
  height: 6rem;
}
.footer1{
  display: flex;
  padding-top: 1rem;
  padding-left: 4rem;
}
.footer-text{
  padding-left: 1.7rem;
}
.footer2{
  display: flex;
  padding-left: 4rem;
}
.footer2 a{
  padding-right: 2rem;
  text-decoration: none;
  color: rgb(58, 57, 57);
}
.messiaward{
  display: block;
  margin-left: 15rem;
}
.mimage{
  width: 9rem;
  height: 4rem;
  margin-top: 0.3rem;
}
.maward{
  width: 6rem;
  height: 7rem;
  border-radius: 0.7rem;
  margin-left: 2rem;
}
.age2{
  display: flex;
  width: 4rem;
}
.age1{
  display: flex;
  background-color: white;
  border-radius: 0.7rem;
  height: 7.5rem;
  margin-top: 0.3rem;
  width: 16rem;
  margin-bottom: 0.7rem;
}
.iffhs{
  width: 7rem;
  font-size: 0.8rem;
  padding-left: 0.7rem;
}
.marcalogo{
  padding-left: 1rem;
  margin-top: 0.5rem;
}
.mlogo{
  margin-left: 0.7rem;
  margin-top: 0.5rem;
}
.vertical {
  border-left: 0.3px solid rgb(114, 113, 113);
  height: 500px;
  position:absolute;
  right: 37%;
}
.footervertical {
  border-left: 0.3px solid rgb(114, 113, 113);
  height: 20px;
  position:absolute;
  left: 11%;
}